apiVersion: apps/v1
kind: Deployment
metadata:
  name: harness-ci-lab
  labels:
    app: harness-ci-lab
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: harness-ci-lab
  template:
    metadata:
      labels:
        app: harness-ci-lab
    spec:
      containers:
        - name: app
          image: jlouro22/harness-ci-lab:latest
          imagePullPolicy: Always
          env:
            - name: SERVICE_NAME
              value: "harness-ci-lab"
            - name: APP_VERSION
              value: "1.0.0"
            - name: GIT_SHA
              value: "unknown"
          ports:
            - containerPort: 8080

          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10