apiVersion: apps/v1
kind: Deployment
metadata:
  name: harness-ci-lab
  labels:
    app: harness-ci-lab
spec:
  replicas: 2
  selector:
    matchLabels:
      app: harness-ci-lab
  template:
    metadata:
      labels:
        app: harness-ci-lab
    spec:
      containers:
        - name: app
          image: jlouro22/harness-ci-lab:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
